div.icon_box {
    position: absolute;
    align-self: flex-end;

    top: 0;
    margin-top: 4vh;
}

svg.icon {
    font-size: 4vh;
    cursor: pointer;
    transition: 0.2s all;
}

svg.icon:hover {
    fill: chartreuse;
}