@keyframes growIn {
  0% {
    width: 0vw;
  }

  100% {
    width: 100vw;
  }
}

div.window_wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  opacity: 0%;
  transition: 0.5s all;

  animation: growIn 1s;
  text-align: center;

  overflow: hidden;
}

div.window_wrapper.active {
  opacity: 100%;
}
