@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Poppins:wght@200&family=Roboto&family=Dosis&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;

  font-family: "Poppins", sans-serif;
}

:root {
  --defaultblue: #318CE7;
}

body {
  background-color: #111;
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;

  transition: 0.2s all;
}

button:hover {
  transform: scale(1.02);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #58ff0a #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1vh;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #58ff0a;
    border-radius: 1vh;
  }
