div.switcher {
    display: flex;

    border: 0.4vh solid var(--defaultblue);
    border-radius: 1rem;

    width: 100%;

    margin-block: 2vh;
    overflow: hidden;

    justify-content: stretch;
}